<div>
  <div class="ag ah ai aj">
    <div class="ak al am aj c5 ag">
      <div class="ba c9 bb c7 et">
        <a aria-current="page" class="active" href="/es-CL/">
          <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/f8f0721f871b3704cce92eb96bc6e504.svg" class="ct">
        </a>
        <a href="">Iniciar sesión </a>
      </div>
    </div>
  </div>
</div>




<div class="as ax ay az ap">
  <h2 id="home-enter-address-title" class="b0 b1 b2 b3 b4 b5 b6 b7 b8">La comida de tus restaurantes favoritos a
    domicilio</h2>
  <form class="b9 ba bb bc">
    <div aria-label="enter address" role="combobox" aria-expanded="false" aria-haspopup="listbox"
      aria-labelledby="location-enter-address-label" class="bd af be bf">
      <div class="b0 b1 b2 bg bh bi bj bk ag ae aj bl bm bn ba af ai">
        <div class="ba bo bb">
          <div class="bp bq br"><svg width="24px" height="24px" fill="none" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="m12.0001 2.83398c2 0 4.0833.75 5.5833 2.33334 3.0833 3.08333 3.0833 8.16668 0 11.16668l-5.5833 5.6667-5.58335-5.5834c-3.08334-3.0833-3.08334-8.16665 0-11.24998 1.5-1.58334 3.58335-2.33334 5.58335-2.33334zm0 15.66672 3.8333-3.8334c2.0833-2.1666 2.0833-5.58332 0-7.74998-1-1-2.4167-1.58334-3.8333-1.58334-1.4167 0-2.83335.58334-3.83335 1.58334-2.08334 2.16666-2.08334 5.58338 0 7.74998zm1.6666-7.75c0 .9204-.7462 1.6666-1.6666 1.6666-.9205 0-1.6667-.7462-1.6667-1.6666 0-.92052.7462-1.66672 1.6667-1.66672.9204 0 1.6666.7462 1.6666 1.66672z"
                fill-rule="evenodd" clip-rule="evenodd" fill="#1F1F1F"></path>
            </svg></div>
        </div>


        <div class="bo bs bt bu bv"></div><input type="text" aria-autocomplete="list"
          aria-labelledby="location-enter-address-label" autocomplete="off" value="" id="location-enter-address-input"
          autocapitalize="off" autocorrect="off" name="userQuery" placeholder="Ingresa la ubicación de entrega"
          spellcheck="false" class="be ag">
        <div class="bo bs bt bu bv"></div>
      </div>
    </div>


    <div class="bo bw bt bu bv"></div><button type="submit"
      class="b0 b1 bx bg bh by bz c0 ba bb bc aj c1 bj c2 c3">Buscar comida</button>
  </form>
</div>

<button type="button" class="b0 b1 d2 bg bh bi bz">Borrar</button>
